<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Project name</title>

	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" media="all and (orientation:portrait)" type="text/css" href="stylesheets/master.css">
	<link rel="stylesheet" media="all and (orientation:landscape)" type="text/css" href="stylesheets/landscape.css">

	<script type="text/javascript" src="debug/homeScreen.js" charset="utf-8"></script>
	<script type="text/javascript">
		document.ontouchmove = function(event){ event.preventDefault(); }
	</script>

</head>
<body>
  <%= yield %>
</body>
</html>